# -------------------------------------------------------------------------------------
# Source credentials
# -------------------------------------------------------------------------------------
[sources.nexon]
# X_NXOPEN_API_KEY
api_key = "test_..."

# -------------------------------------------------------------------------------------
# Destination credentials
# -------------------------------------------------------------------------------------
[destination.postgres.credentials]
host = "localhost"
port = 5432
username = "..."
password = "..."
database = "..."
schema = "..."

[destination.filesystem.credentials]
aws_access_key_id = "..."
aws_secret_access_key = "..."
endpoint_url = "http://..."
